.container {
    display: flex;
    flex-direction: row;
    justify-content: center;    
    margin-top: 30px;
}

.card-margin {
    margin-right: 30px;
}

.card-header {
    text-align: center;
    background-color: #24dc65c7;
}

.button-nueva-solicitud {
    margin-top: 25px;
}

.margin-bottom-input {
    margin-bottom: 20px;
}

.profile-container {
    display: flex;
    justify-content: center;
    margin-top: 30px; 
}